:root {
	--primary-font-size: 2rem;
	--secondary-font-size: 3rem;

	--primary-bg-color: #ddd;
	--secondary-bg-color: #fff;
	--primary-text-color: #424242;
	--secondary-text-color: #228b22e0;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--primary-bg-color);
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: var(--primary-text-color);
}
.wrapper {
	font-size: var(--primary-font-size);
	text-align: center;
}

.text-area {
	outline: none;
	resize: none;
	border: none;
	padding: 1rem;
	font-size: var(--primary-font-size);
	background-color: var(--secondary-bg-color);
	border-radius: 0.5rem;
}
.w-count,
.s-count {
	font-size: var(--secondary-font-size);
	color: var(--secondary-text-color);
}

.m--top {
	margin-top: 2rem;
}
